<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Login Page </title>
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <p id="message"> {{message}} </p>
		{% endfor %}
	  {% endif %}
	{% endwith %}

	<div id="loginbox">
		<h1 class="title"> Login </h1>
		<form action="/login" method="post">
			<input type="text" id="username" name="username" placeholder="username" minlength="3" required><br><br>
			<input type="password" id="password" name="password" placeholder="password" minlength="3" required><br><br>
			<input type="submit" value="Submit" id="submit_button">
		</form>

		<h1 class="title"> Create Account </h1>
		<a href="{{url_for('create_user')}}"><button id="create_new_account_button"> Create Account </button> </a>
	</div>

	
</body>