<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Login Page </title>
</head>

<body>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	{% block body %}{% endblock %}

	<p> Enter your username and password to log in </p>
	<form action="/login" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" placeholder="username" minlength="3" required><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" placeholder="password" minlength="3" required><br><br>
		
		<input type="submit" value="Submit">
	</form>

	<h1 class="title"> Create New Account </h1>
	<a href="{{url_for('create_user')}}"><button class="button"> Create New Account </button> </a>
</body>